.login-container {
    display: flex;
}

.login-artists {
    display: flex;
    justify-content: center;
    width: 50%;
}

#Bowie {
    width: 100%;
    border-radius: 25px;
}

#Jackson {
    width: 100%;
    border-radius: 25px;
}

.error-message {
    color: red;
}

form {
    background-color: #A9E4EF;
}

#click-artist-login {
    font-style: italic;
    font-size: 12px;
    margin-left: 5px;
    margin-top: 50px;
    width: 200px;
}