.search-container {
    display: flex;
    justify-content: center;
    margin-left: 100px;
}

.album-block {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
}

#search-artist-field {
    border-radius: 4px;
    border-style: solid;
}

#search-album-field {
    border-radius: 4px;
    border-style: solid;
}

#search-track-field {
    border-radius: 4px;
    border-style: solid;
}