form {
    display: flex;
    justify-content: center;
    padding: 20px;
}

form label {
    margin: 4px 0;
    font-weight: bold;
}

form input {
    width: 100%;
    padding: 4px 2px;
    margin: 6px 0;
}

button {
    border-radius: 4px;
    border: 2px solid white;
    font-weight: bold;
    margin-left: 35px;
}

#username-field {
    border-radius: 4px;
}

.error-message {
    color: red;
}

fieldset {
    border-radius: 25px;
    border-style: none;
}

.artists {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

#Elvis {
    width: 50%;
    min-width: 150px;
    border-radius: 25px;
}

#Prince {
    width: 50%;
    min-width: 150px;
    border-radius: 25px;
    margin-top: 10px;
}

.signup-container {
    display: flex;
    justify-content: center;
    margin-left: 100px;

}