.artist-container {
    display: flex;
    flex-direction: row;
}

.artist-info {
    width: 70%;
}

.artist-image {
    display: flex;
    width: 30%;
    margin-top: 30px;
    margin-left: 20px;
}

#image {
    height: 50%;
    border-radius: 25px;
}