.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

#header {
    display: flex;
    justify-content: center;
    margin-left: 55px;
    margin-right: 16px;
    border-radius: 25px;
    height: auto;
    width: 35%;
}

#header:hover {
    cursor: pointer;
}