.active-link {
    border-bottom: 3px solid #7A306C;
}

.nav-container {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    width: 100%;
    color: #7A306C;
    margin-right: 50px;
}

nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 240px;
    width: 100%;
    min-width: 550px;
    background-color: #A9E4EF;
    font-size: 23px;
    border-radius: 30px;
    border-color: #7A306C;
    border-style: solid;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex-basis: 2000px;
    margin-left: 20px;
    font-size: 30px;
}

a,
a:visited,
a:hover {
    color: #7A306C;
    text-decoration: none;
}