@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
    margin: 16px;
    background-color: #8E8DBE;
    font-family: 'Poppins', 'Arial', sans-serif;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    font-size: 45px;
}

h2 {
    font-size: 25px;
}

.artists {
    display: flex;
    margin: 16px;
}

article {
    display: flex;
    justify-content: center;
    width: auto;
}

#search {
    text-align: center;
}

.fieldset {
    border-radius: 25px;
    width: 300px;
    background-color: #A9E4EF;
}

#login {
    border-radius: 25px;
}

/*.submit-form {*/
/*    justify-content: center*/
/*}*/