.login-field {
    margin-left: 30px;
}

form {
    display: flex;
    flex-direction: column;
    width: 250px;
    border-radius: 25px;
}

form label {
    margin: 4px 0;
    font-weight: bold;
}

form input {
    width: 100%;
    padding: 4px 2px;
    margin: 6px 0;
}

button {
    border-radius: 4px;
    border: 2px solid white;
    font-weight: bold;
    margin-left: 35px;
}

#email-field {
    border-radius: 4px;
    border: 2px solid;
}

#username-field {
    border-radius: 4px;
    border: 2px solid;
}

#password-field {
    border-radius: 4px;
    border: 2px solid;
}
